:root {
    --primary-text-color:  #212121;
    --secondary-text-color: #757575;
    --white-text-color: #FFFFFF;
    --accent-text-color: #2196F3;
    --main-background-color: #F5F5F5;
    --white-background-color: #FFFFFF;
    --dark-background-color:  #2F303A;
    --secondary-background-color: #F5F4FA;
} 
.page {
    max-width: 1600px;
    color: var(--primary-text-color);
    /* background-color: var(--main-background-color); */
    font-family: Roboto, sans-serif;
    }
ul {
    list-style-type: none;
}  
h1,
h2,
h3,
ul,
p { 
    margin: 0;
    padding: 0;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}   
.container {
    max-width: 1200px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}
      /*Header*/

.top {
    background-color: var(--white-background-color);
}
.main-nav {
    display: flex;
    align-items: center;
       /* outline: 2px solid black;} */
}
    
    /* Logo */
.logo {
    margin-right: 93px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    text-decoration: none;
    color: var(--accent-text-color);
}   
.logo .black {
    color: #000000;
}
.top .logo {
    padding: 25px 93px 25px 0;
}
    /* Site-nav */
.link {
   color:  var(--primary-text-color);
   text-decoration: none;
}  
.navigation {
    display: flex;
}
.navigation li:not(:last-child),
.contact li:not(:last-child) {
    margin-right: 50px;
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-text-color);
}
.link-active {
    color: var(--accent-text-color);
    text-decoration: none;
} 
   
/*  Перехід на сторінки сайту з формою для листування та з'єднання скайпом*/
.contact-link {
    text-decoration: none;
    color: var(--secondary-text-color);
} 
.contact {
    display: flex;
    margin-left: auto;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-text-color);
    }

/* Банер */
.main {
    background-color: var(--main-background-color);
}
.hero {
    background-color:var(--dark-background-color);
}
.banner {
    padding: 200px 0px;
    align-content: center;
  }
.banner-text {
    margin-bottom: 30px;
    color: var(--white-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height:1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

} 
/* Кнопка замовлення */
.banner .order {
    justify-content: center;
    border-radius: 4px;
    width: 216px;
    margin: 0 auto;
    padding: 10px 0;
    display: block;
    
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--white-text-color);
    background-color: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    } 
           /* Секція переваг */

/* Ховаємо заголовок */
.block {
    display: none;
}
/* Для зоголовків одного типу сторінки */
.text-title {
    /* margin-top: 0; */
    margin-bottom: 50px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    /* background-color: aqua; */
}
.list,
.proces { 
    display: flex;
    justify-content: space-between;
}
.list .card {
    min-width: 270px;
    margin-bottom: 118px;
    margin-right: 30px;
    text-align: start;
}
.list .card:last-child {
    margin-right: 0;
}

.proces .photo {
    margin-right: 30px;
}
.proces .photo:last-child {
    margin-right: 0;
}
.our-team {
    background-color: var(--secondary-background-color);
}
.team-card {
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
}
.team-card.file {
    max-width: 270px;
    margin-right: 30;
    margin-bottom: 94px;
    text-align: center;
}
/* .team-card.file:nth-last-child(4n)   */
   
.advantage {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
/* .block-adv .point {
    display:  ; */
/* } */
.text {
    margin-top: 0;
    margin-bottom: 118px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
/* Секція команди */
/* .team {
    background-color: #F5F4FA;
} */
.name {
    /* margin-top: 0; */
    margin-bottom: 10px;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.career {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em
}
.team {
    margin-bottom: 30px;
}

/* Сторінка Портфоліо */

/* Блок сортувальних кнопок */
.btn {
    display: flex;
    justify-content: center;
    }
.btn button {
    padding: 6px 22px;
    border-radius: 4px; 
    border-style: none;
    margin-right: 8px;
    margin-bottom: 50px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    
    color: var(--title-text-color);
    background-color: var(--secondary-background-color);
}
.btn button:last-child {
    margin-right: 0;
}

.btn button:hover, 
.btn button:focus {
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
} 

.activity .point {
    display: flex;
}
/* Реалізовані проекти компанії */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: aqua; */
    /* gap: 30px; */
}
.projects .example {
    width: 370px;
    margin-bottom: 30px; 
    margin-right: 30px;
    text-align: center;

    background: var(--white-background-color);
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects .example:nth-child(3n) {
    margin-right: 0px;
}
.projects .example:nth-last-child(-n+3) {
    margin-bottom: 0px;
}
.projects-title {
   margin-top: 0;
   margin-bottom: 4px;
   color: var(--primary-text-color);
   font-weight: 700;
   font-size: 18px;
   line-height: 2.0;
   letter-spacing: 0.06em;
   /* background-color: #2196F3; */
}
.projects-text {
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.03em;
   color: var(--secondary-text-color);
}
.projects .link:hover,
.projects .link:focus {
color: var(--accent-text-color);
/* background-color: var(--accent-text-color); */
}

    /* Footer */
.adress {
    background-color: var(--dark-background-color);
}
.adress .logo {
    padding-top: 60px;
    margin-bottom: 20px;
}
.white {
    color: var(--white-text-color);
}
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}
.adress .link {
    margin-bottom: 9px;
    
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;
    color: var(--white-text-color);
}
.link-contacts {
    margin-bottom: 9px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
}
.adress .link:hover,
.adress .link:focus,
.link-contacts:hover,
.link-contacts:focus {
    color: var(--accent-text-color);
}

/* Кольорова гама */
/*Основний колір тексту #212121*/
/*Вторинний колір тексту #757575 */
/*Cвітлий колір тексту #FFFFFF */
/* Колір лого #2196F3,#000000*/
/* Колір кнопок #F5F4FA/
/* Колір акценту #2196F3 /
/* Колір сторінки #F5F5F5;/
/* Колір навігації #FFFFFF*/
/* Колір банеру та футеру #2F303A/
/* Колір секції команди #F5F4FA;/
/* Колір контактів футеру rgba(255, 255, 255, 0.6); */